<div style="padding: 50px;">
    <div id="cal-header" style="display: flex; justify-content: space-evenly; width: 100%;">
        <div style="padding-top: 15px;">
            <button mat-stroked-button color="primary" (click)="openEventForm($event)">Add Event</button>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="List" (click)="openEventList()">Event List</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="calendarView === 'Month'">
            <div style="gap: 20px; display: flex;padding-top: 15px; cursor: pointer;">
                <mat-icon (click)="previousMonth()">arrow_back_ios</mat-icon>
                <h3 style="font-size: x-large; font-weight: bold;">{{months[currentMonth]}} {{currentYear}}</h3>
                <mat-icon (click)="nextMonth()">arrow_forward_ios</mat-icon>
            </div>
        </div>
        <div *ngIf="calendarView === 'Week'">
            <div style="gap: 20px; display: flex;padding-top: 15px; cursor: pointer;">
                <mat-icon (click)="previousWeek()">arrow_back_ios</mat-icon>
                <h3 style="font-size: x-large;"> Week {{weekStartDate.toDateString() | date:'W'}}</h3>
                <mat-icon (click)="nextWeek()">arrow_forward_ios</mat-icon>
            </div>
        </div>
        <div style="display: flex; gap: 10px; padding: 10px;">
            <button mat-raised-button (click)="changeCalendarView()" [disabled]="calendarView === 'Month'">Month</button>
            <button mat-raised-button (click)="changeCalendarView()" [disabled]="calendarView === 'Week'">Week</button>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Select View Type</mat-label>
                    <mat-select (selectionChange)="applyFilters($event.value)" [(ngModel)]="selectedValue">
                         <mat-option *ngFor="let option of options" [value]="option.value">
                            {{ option.label }} </mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
    </div>
    <div [ngStyle]="{'display': 'grid', 'grid-template-columns': selectedValue === 'option2' ? 'repeat(5, 1fr)' : 'repeat(7, 1fr)', 'justify-items': 'center', 'padding': '1rem'}" >
        <div *ngFor="let day of filteredDays">
            <h3>{{day}}</h3>
        </div>
    </div>
    <div [ngStyle]="{'display': 'grid', 'grid-template-columns': selectedValue === 'option2' ? 'repeat(5, 1fr)' : 'repeat(7, 1fr)', 'grid-template-rows': calendarView === 'Month' ? 'repeat(6, 1fr)' : 'auto'}"> 
        <mat-card 
            *ngFor="let date of monthDates" 
            class="date-card" 
            [ngClass]="{
                'current-month':date.getMonth() === currentMonth,
                'current-date':date.toDateString() === currentDate.toDateString(),
                'week-view':calendarView === 'Week',
            }"
            (click)="toggleWeek(date)" 
        >
            <h3 class="card-date" [ngClass]="{'current-date':date.toDateString() === currentDate.toDateString()}">{{date.getDate()}}</h3>
            <div *ngFor="let event of events;" style="padding: 0px 10px;">
                <div *ngIf="event.date === date.toDateString()" class="event-header">
                    {{event.eventName}}
                    <div class="hover-content">
                        <button mat-raised-button  (click)="openEventForm($event, event)">Update</button>
                        <button mat-raised-button color="warn" (click)="deleteEvent($event, event.id)">Delete</button>
                        <button mat-raised-button color="primary" (click)="openForEventDetail(event, $event)">View</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>

